#templates-menu {
	position: absolute;
}

#y3d {
	height: 100%;
	width: 100%;
}

input[type="text"] {
	height: 30px;
	margin-bottom: 0px;
}

.arrow {
	z-index: 1;
}

.container-fluid {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.dg.ac {
	float: left;
	margin: 20px;
}

.dg .c input[type=text] {
	border-radius: 0px;
	height: 19px;
	font: 11px 'Lucida Grande', sans-serif;
}

.dropdown-menu li > input {
	margin-left: 20px;
	margin-right: 20px;
}

.open > .dropdown-menu {
  display: block !important;
}

.popover.bottom {
	top: 50px !important;
}

.row {
	margin-left: 0 !important;
}

.span6 {
	padding: 0 !important;
	margin: 0 !important;
	width: 50% !important;
}

.toolbar {
	position: absolute;
	top: 18px;
	right: 30px;
	z-index: 1;
}